h1 {
    text-align: center;
    color: red;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin: auto;
    display: block;
}
footer {
    text-align: center;
    font-size: large;
    color: blue;
}