h1 {
    text-align: center;
    color: red;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}
footer {
    text-align: center;
    color: blue;
    padding: 10px;
    background-color: bisque;
}
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
}
ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}